form button,
.btn {
    border: none;
    border-radius: 4px;
    background: $button_background;
    color: #fff;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 1em;

    &:hover {
        opacity: 0.85;
    }
}


form {
    button {
        margin: 0.5em 0;
    }
}

.btn_hero {
    padding: 12px 32px;
    border: 2px solid #fff;
    border-radius: 32px;
    font-size: 1.2em;
    font-weight: bold;

    &:hover {
        background: #fff;
        color: #000!important;
        border: none;
        transition: all 0.2s ease-in-out;
    }
}

.btn_danger {
    background: $danger!important;
}
