$aside_width: 15%;

.app_main {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../../public/assets/images/auth.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    height: auto;
    
    aside {
        width: $aside_width;
    }

    .app_content {
        margin-left: $aside_width;
        padding: 4px 15px;

        .header {
            @include grid(3);
            align-items: center;
            margin: 0 0 0.8em;

            p {
                color: #fff;
                font-size: 1.1em;
                span {
                    font-size: 0.85em;
                }
            }

            input {
                padding: 8px 16px;
                border-radius: 32px;
                border: 1px solid $faded_line;
                font-size: 1em;
            }

            .header_btn {
                a {
                    text-decoration: none;
                    background: #fff;
                    color: #000;
                    padding: 8px 16px;
                    border-radius: 4px; 
                    font-weight: bold;
                    font-size: 1.05em;

                    &:hover {
                        background: #000;
                        color: #fff;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        .body {
            color: #fff;

            .nested_list {
                list-style-position: inside;
                a {
                    color: lightblue;
                }

                li {
                    padding: 0.2em 0;
                }

                ul {
                    padding: 0 1.5em 0;
                }
            }
        }

        .system_nav {
            margin: 0 0 0.5em;
            color: #fff;
            
            a {
                color: lightblue;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

@media screen and (width >= 726px) {
    .app_main {
        .app_content {
            .header {
                .header_btn {
                    justify-self: right;
                }
            }

            .row_container {
                display: grid;
                grid-template-columns: 2fr 1fr;
                gap: 0 1em;
            }
        }
    }
}