.Contact_Page {
    .container {
        @include grid(2);
        align-items: center;

        .text {
            h1 {
                @include font_size(3em, 4.5em);
            }

            p {
                @include font_size(1.25em, 2em);
                color: $faded_text;
                margin: 0.8em 0 0;

                span {
                    display: grid;
                }
            }
        }
    }
}

.app_main {
    .Contact {
        .strikethrough {
            text-decoration: line-through;
        }
    
        .User_Message {
            margin: 2em auto;
            width: 50%;

            header {
                background: #000;
                border-radius: 8px 8px 0 0;
                color: #fff;
                padding: 12px 5%;
                display: grid;
                grid-template-columns: 30px auto;
                align-items: center;
                gap: 0.5em;

                .icon {
                    a {
                        color: #fff;
                    }

                    span {
                        font-size: 1.2em;
                    }
                }

                p {
                    display: grid;
                    gap: 0.4em;

                    span {
                        font-size: 0.85em;

                        &:first-of-type {
                            font-size: 1em;
                            font-weight: bold;
                        }
                    }
                }
            }

            .body {
                background: #fff;
                color: #000;
                border-radius: 0 0 8px 8px;
                padding: 12px 5%;

                .form_details {
                    .user_message_details {
                        .time {
                            font-size: 0.75em;
                            text-align: center;
                        }
        
                        .user_message {
                            background: #dcfcfa;
                            width: 70%;
                            margin: 0.5em 0 2em;
                            padding: 8px 15px;
                            border-radius: 8px 8px 32px 8px;
                            box-shadow: 2px 2px 4px #6e6e6e;
                        }
                    }
                }
    
                form {
                    margin: 2em 0 0;
                }
            }
        }
    }
}