.Settings {
    ul {
        list-style: none;
        margin: 0.8em 0;

        li {
            width: 12%;
            border-bottom: 2px solid $faded;
            padding: 4px 2px;

            a {
                text-decoration: none;
                color: #000;
                font-weight: bold;
            }
        }
    }
}